@model UpdateBannerDto
@{
    ViewData["Title"] = "Update";
    Layout = "/Areas/Layouts/Views/AdminLayout/Layout.cshtml";
}
<div class="container-fluid mt-4">
    <div class="card shadow-sm">
        <div class="card-body">

            <div class="card-header bg-secondary text-white">
                <h3 class="text-center">Öne Çıkan Alan Güncelle</h3>
            </div>

            <div class="card-body">
                <form method="post" asp-action="Update" asp-controller="Banner" asp-area="Admin" enctype="multipart/form-data">

                    <div class="text-center">
                        <label class="form-label">Kullanılan Resim : </label>
                        <br />
                        <img src="@Model.ImageUrl" style="width:100px;height:100px" alt="Profil Resmi" />
                        <br />
                        <div>
                            <br />
                            <input type="file" asp-for="ImageFile" class="form-control" />
                        </div>
                        <br />
                    </div>
                    <input type="hidden" asp-for="ImageUrl" />

                    <input type="hidden" asp-for="Id" />
                    <label>Başlık</label>
                    <input type="text" asp-for="Title" class="form-control" />
                    <br />

                    <label>Açıklama</label>
                    <input type="text" asp-for="Description" class="form-control" />
                    <br />

                    <label>Resim Link</label>
                    <input type="text" asp-for="ImageUrl" class="form-control" />
                    <br />

                    <div class="text-center">
                        <button class="btn btn-secondary">Güncelle</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

