@model CreateServiceDto
@{
    ViewData["Title"] = "Create";
}

<h1>Yeni Hizmet Ekle</h1>
<form method="post">
    <label>İsim</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />

    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />

    <label>Ikon</label>
    <input type="text" asp-for="Icon" class="form-control" />
    <br />

    <div class="text-center">
        <button class="btn btn-primary">Kaydet</button>
    </div>

</form>
