@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "/Areas/Layouts/Views/AdminLayout/Layout.cshtml";
}
<div class="container-fluid mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="text-center">Hizmetler</h3>
            <table class="table table-bordered table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>İsim</th>
                        <th>Açıklama</th>
                        <th>Ikon</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 0;
                    }
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <th>@count</th>
                            <td>@item.Name</td>
                            <td>@item.Description.Substring(0,100)...</td>
                            <td>@if(item.Icon is null)
                                {
                                    <span class="badge bg-secondary">Yok</span>
                                }
                                else
                                {
                                    <span class="badge bg-success">Var</span>
                                }
                            <td>
                                <a href="/Admin/Service/Delete/@item.Id" class="btn btn-danger">Sil</a> &nbsp;
                                <a href="/Admin/Service/Update/@item.Id" class="btn btn-secondary">Güncelle</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />

<div class="text-center">
    <a href="/Admin/Service/Create" class="btn btn-info">Yeni Hizmet Ekle</a>
</div>


