@model UpdateServiceDto
@{
    ViewData["Title"] = "Update";
}

<h1>Hizmet Güncelle</h1>
<form method="post">
    <input type="hidden" asp-for="Id"/>

    <label>İsim</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />

    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />

    <label>Ikon</label>
    <input type="text" asp-for="Icon" class="form-control" />
    <br />

    <div class="text-center">
        <button class="btn btn-primary">Güncelle</button>
    </div>

</form>

