@model CreateTestimonialDto
@{
    ViewData["Title"] = "Create";
}

<h1>Yeni Değerlendirme Ekle</h1>
<form method="post">
    <label>Ad Soyad</label>
    <input type="text" asp-for="ClientName" class="form-control" />
    <br />

    <label>Meslek</label>
    <input type="text" asp-for="Profession" class="form-control" />
    <br />

    <label>Görsel Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />

    <label>Yorum</label>
    <input type="text" asp-for="Comment" class="form-control" />
    <br />

    <label>Puan</label>
    <select asp-for="ReviewStar" class="form-control">
        <option selected disabled>Lütfen seçim yapınız.</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br />

    <div class="text-center">
        <button class="btn btn-primary">Kaydet</button>
    </div>

</form>


