@model List<ResultSubscribeDto>
@{
    ViewData["Title"] = "Index";
}

<h1>Abonelikler</h1>
@{
    int count = 0;
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Email</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Email</td>          
            <td>
                <a href="/Admin/Subscribe/Delete/@item.Id" class="btn btn-danger">Sil</a>
                <a href="/Admin/Subscribe/Update/@item.Id" class="btn btn-info">Güncelle</a>
            </td>
        </tr>
    }

</table>
<a href="/Admin/Subscribe/Create" class="btn btn-info">Yeni Abonelik Ekle</a>



