@model UpdateSubscribeDto
@{
    ViewData["Title"] = "Update";
}

<h1>Abonelik Güncelleme</h1>
<form method="post">
    <input type="hidden" asp-for="Id"/> 
    <label>Email</label>
    <input type="text" asp-for="Email" class="form-control" />
    <br />

    <div class="text-center">
        <button class="btn btn-primary">Güncelle</button>
    </div>

</form>

